body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: navy;
}

#resultado {
    font-size: 24px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
